.error {
  position: relative;
  animation: shake 0.5s linear;
  animation-iteration-count: 10;
  border-color: orange;
}

@keyframes shake {
  0% {
    left: -25px;
  }
  100% {
    right: -5px;
  }
}
