.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 2;
  border-color: orange;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}
